/* Estilos base de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos de PrimeNG */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

/* Estilos globales */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Asegurar que el contenido ocupe al menos toda la altura de la pantalla */
html, body {
  height: 100%;
}

/* Estilos para los enlaces */
a {
  color: #b91c1c;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: #991b1b;
  text-decoration: underline;
}